@import "./globals.css";
@import "./variables.css";
@import "../assets/fonts-web/stylesheet.css";

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem;
  width: 100%;
}

.navbar__logo-image {
  max-width: 2.5rem;
}

.navbar__links {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.075rem;
  padding: 0.25rem;
  color: var(--very-dark-blue);
  transition: color 150ms ease-out;
}

.navbar__link:hover {
  color: var(--soft-red);
}

.navbar__link:focus {
  outline: 3px dotted;
}

/* navbar top */
.navbar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

/* news main */
.container-lg {
  padding: 1rem 8rem;
}

.container__cols {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.container__main-text-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.container__main-img {
  margin-bottom: 1.5rem;
}

.heading__main-lg {
  font-size: 3rem;
}

.content__main-para {
  font-size: 1.125rem;
}

.btn-soft-red {
  padding: 0.75rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: var(--soft-red);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--weight-bold);
  margin-top: 1.25rem;
  color: var(--off-white);
  outline-offset: 3px;
  transition: background-color 150ms ease;
}

.btn-soft-red:hover {
  background-color: var(--very-dark-blue);
}

.btn-soft-red:focus {
  outline: 3px dotted var(--soft-red);
}

/* new content */
.content__new {
  background-color: var(--very-dark-blue);
  padding: 1rem;
}

.content__new-heading {
  color: var(--soft-orange);
  font-size: 2rem;
  font-weight: var(--weight-bold);
  cursor: pointer;
  text-decoration: none;
}

.content__new-heading:hover {
  text-decoration: underline;
}

.content-new__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
}

.content-new__item {
  padding: 1rem 0;
}

.new__heading {
  font-size: 1.025rem;
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.0725rem;
  font-weight: var(--weight-bold);
  outline-offset: 3px;
  transition: color 150ms ease;
}

.new__heading:hover {
  text-decoration: underline;
  color: var(--soft-orange);
}

.new__heading:focus {
  outline: 3px dotted;
}

.new__para {
  margin-top: 1rem;
  color: var(--dark-grayish-blue);
}

hr {
  border-color: var(--dark-grayish-blue);
}

/* bottom cols */
.bottom-section {
  padding: 2rem 8rem;
}

.bottom__item-img {
  max-width: 5rem;
}

.bottom__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1rem;
}

.bottom__item-cols {
  display: flex;
  gap: 1rem;
}

.bottom__item-number {
  color: var(--grayish-blue);
  font-size: 1.75rem;
  /* margin-bottom: 0.25rem; */
}

.bottom__item-heading {
  margin: 0.25rem 0;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
  color: var(--very-dark-blue);
  transition: color 200ms ease;
}

.bottom__item-heading:hover {
  text-decoration: underline;
  color: var(--soft-red);
}

.bottom__item-heading:focus {
  outline: 3px dotted;
}

/* hide hamburger on desktop */
.navbar__toggle-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.125rem;
  padding: 0.25rem;
  outline-offset: 0.25rem;
  /* rotate: 45deg; */
  scale: 0.75;
  transition: 150ms ease;
}

.navbar__toggle-button:focus {
  outline: 0.125rem solid var(--dark-grayish-blue);
  /* rotate: 90deg; */
}

.navbar__toggle-img {
  display: block;
}

/* responsive for mobile phones */
@media (width < 75rem) {
  .navbar {
    flex-direction: column;
    padding: 1.5rem 1rem;
    overflow: hidden;
    height: max-content;
    justify-content: center;
  }

  .navbar__top {
    width: 100%;
  }

  .navbar__toggle-button {
    display: block;
  }

  .navbar__links {
    /* display: none; */
    /* border: 1px solid; */
    flex-direction: column;
    height: fit-content;
    display: none;
    padding: 0.25rem 0;
    overflow: hidden;
    transition: 200ms ease-in-out;
  }

  .navbar__links-show {
    display: flex;
  }

  .container-lg {
    padding: 1rem;
  }

  .container__cols {
    grid-template-columns: 1fr;
  }

  .container__main-text-content {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .heading__main-lg {
    line-height: 1;
    /* margin-bottom: 0.5rem; */
  }

  .content__main-para {
    margin-top: 0.25rem;
  }

  .bottom-section {
    padding: 1rem;
  }

  .bottom__cols {
    grid-template-columns: 1fr;
  }

  .bottom__item-cols {
    align-items: center;
    /* gap: 1.5rem; */
  }

  .bottom__item-heading {
    font-size: 1.5rem;
  }

  .bottom__item-body {
    font-size: 1.125rem;
  }
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: 100%;
  background-color: var(--off-white);
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  z-index: 999;
  padding-block: 2rem;
  transition: 250ms ease;
}

.sidebar::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.sidebar__toggle-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.sidebar__toggle-btn {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline-offset: 2px;
  display: block;
  border-radius: 0.25rem;
  transition: 150ms ease;
}

.sidebar__toggle-btn:focus {
  outline: 0.125rem solid black;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

@media screen and (width < 50rem) {
  .sidebar {
    width: 0;
  }

  .sidebar-show {
    width: 75%;
  }
}
